body {
    font: 18px "helvetica neue", helvetica, arial, sans-serif;
    width: 960px;
    margin: 40px auto;
    color: #444;
}

.tab {
    outline: none;
    padding: 5px 30px;
    margin: 0 4px 0 0;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border: 0;
    background-color: #999;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#666));
    background-image: -webkit-linear-gradient(left, #999, #666);
    background-image:    -moz-linear-gradient(left, #999, #666);
    background-image:     -ms-linear-gradient(left, #999, #666);
    background-image:      -o-linear-gradient(left, #999, #666);
    color: #fff;
    font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
    text-decoration: none;
    text-align: center;
}

.tab-active {
    background-color: #ffc33d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffc33d), to(#ffc33d));
    background-image: -webkit-linear-gradient(top, #ffc33d, #ffc33d);
    background-image:    -moz-linear-gradient(top, #ffc33d, #ffc33d);
    background-image:     -ms-linear-gradient(top, #ffc33d, #ffc33d);
    background-image:      -o-linear-gradient(top, #ffc33d, #ffc33d);
}

.credit-info-panel {
    padding: 30px;
    background-color: #ffcc3b;
    color: white;
    border-radius: 0 7px 7px 7px;
    -moz-border-radius: 0 7px 7px 7px;
    -webkit-border-radius: 0 7px 7px 7px;
    box-shadow: 4px 4px 6px grey;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffc33d), to(#FF970F));
    background-image: -webkit-linear-gradient(top, #ffc33d, #FF970F);
    background-image:    -moz-linear-gradient(top, #ffc33d, #FF970F);
    background-image:     -ms-linear-gradient(top, #ffc33d, #FF970F);
    background-image:      -o-linear-gradient(top, #ffc33d, #FF970F);
}

.slider-bar {
    margin: 5px 10px;
    width: 300px;
}

.slider-button {
    border: 1px solid #d3d3d3;
    /*background-color: #E6E6E6;*/
    background: #E6E6E6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 0 -1px 1px #000f4d;
}

.slider-button:hover {
    border: 1px solid #999;
    background-color: #DADADA;
}

.slider-button:active {
    background-color: #ffffff;
}

.slider-input {
    border: 1px solid #d3d3d3;
    height: 26px;
    width: 35px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    padding: 1px 4px;
    margin: 5px;
}

.slider-input:focus {
    border: 1px solid #999;
}

.slider-labels {
    width: 150px;
}

.slider-main-label {
    font-size: 15px;
}

.slider-sub-label {
    font-size: 12px;
}

.credit-submit-button {
    margin-top: 45px;
    background-color: #8c9cbf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaa), color-stop(50%, #888), color-stop(50%, #666), color-stop(100%, #444));
    background-image: -webkit-linear-gradient(top, #aaa 0%, #888 50%, #666 50%, #444 100%);
    background-image: -moz-linear-gradient(top, #aaa 0%, #888 50%, #666 50%, #444 100%);
    background-image: -ms-linear-gradient(top, #aaa 0%, #888 50%, #666 50%, #444 100%);
    background-image: -o-linear-gradient(top, #aaa 0%, #888 50%, #666 50%, #444 100%);
    background-image: linear-gradient(top, #aaa 0%, #888 50%, #666 50%, #444 100%);
    border: 1px solid #172d6e;
    border-bottom: 1px solid #0e1d45;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
    -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
    box-shadow: inset 0 1px 0 0 #b1b9cb;
    padding: 7px 0 8px 0;
    color: #fff;
    font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 -1px 1px #000f4d;
    width: 150px; }
.credit-submit-button:hover {
    background-color: #7f8dad;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(50%, #777), color-stop(50%, #555), color-stop(100%, #333));
    background-image: -webkit-linear-gradient(top, #999 0%, #777 50%, #555 50%, #333 100%);
    background-image: -moz-linear-gradient(top, #999 0%, #777 50%, #555 50%, #333 100%);
    background-image: -ms-linear-gradient(top, #999 0%, #777 50%, #555 50%, #333 100%);
    background-image: -o-linear-gradient(top, #999 0%, #777 50%, #555 50%, #333 100%);
    background-image: linear-gradient(top, #999 0%, #777 50%, #555 50%, #333 100%);
    cursor: pointer; }
.credit-submit-button:active {
    -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    -moz-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white; }

.credit-info-header {
    font-size: 15px;
}

.credit-info-number {
    text-align: right;
    font-weight: bold;
}

.credit-info-table {
    width: 230px;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-left: 10px;
}

.credits-panel {
    width: 100%;
}

.credits-table {
    width: 100%;
    border-spacing: 0;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.credits-table td {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.credits-table td:first-child {
    border-left: none;
}

.credits-table-header td {
    border-top: none;
    background-color: #F9C969;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCE992), to(#F9C969));
    background-image: -webkit-linear-gradient(top, #FCE992, #F9C969);
    background-image:    -moz-linear-gradient(top, #FCE992, #F9C969);
    background-image:     -ms-linear-gradient(top, #FCE992, #F9C969);
    background-image:      -o-linear-gradient(top, #FCE992, #F9C969);
    background-image:         linear-gradient(top, #FCE992, #F9C969);
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.credits-table tr:hover {
    background: #fbf1c4;
}

.credits-back-button {
    margin-top: 10px;
    background-color: #F9C969;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCE992), to(#F9C969));
    background-image: -webkit-linear-gradient(top, #FCE992, #F9C969);
    background-image:    -moz-linear-gradient(top, #FCE992, #F9C969);
    background-image:     -ms-linear-gradient(top, #FCE992, #F9C969);
    background-image:      -o-linear-gradient(top, #FCE992, #F9C969);
    background-image:         linear-gradient(top, #FCE992, #F9C969);
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
    -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
    box-shadow: inset 0 1px 0 0 #b1b9cb;
    padding: 7px 0 8px 0;
    text-decoration: none;
    text-align: center;
    width: 150px;
}

.credits-back-button:hover {
    background-color: #1d2845;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCE576), to(#F9C151));
    background-image: -webkit-linear-gradient(top, #FCE576, #F9C151);
    background-image:    -moz-linear-gradient(top, #FCE576, #F9C151);
    background-image:     -ms-linear-gradient(top, #FCE576, #F9C151);
    background-image:      -o-linear-gradient(top, #FCE576, #F9C151);
    background-image:         linear-gradient(top, #FCE576, #F9C151);
    cursor: pointer;
}

.credits-back-button:active {
    -webkit-box-shadow: inset 0 0 20px 0 #fff, 0 1px 0 white;
    -moz-box-shadow: inset 0 0 20px 0 #fff, 0 1px 0 white;
    box-shadow: inset 0 0 20px 0 #fff, 0 1px 0 white;
}







